body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: #e6e7e8;
    width: 100%;
    background-color:#0f8e59;
    display: inline-block;
    padding: 0px 0px;
    position: sticky;
    padding-left: 95px;
    top: 0px;
    text-align: left;
}

.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.newItem {
    background-color: #e6e7e8;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 30%;
    padding: 10px;
    font-size: 16px;
}

#newQuantity {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 15%;
    padding: 10px;
    font-size: 16px;
}

#newPrice {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 15%;
    padding: 10px;
    font-size: 16px;
}


.addBtn {
    padding: 9px 10px;
    margin: 0 5px 0 5px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-align: start;
}

table {
    background-color: white;
    width: 66%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 47%;
}

th:nth-child(2), td:nth-child(2) {
    width: 30%; /* Ajusta a largura da segunda coluna */
}

th:nth-child(3), td:nth-child(3) {
    width: 30%; /* Ajusta a largura da terceira coluna */
}

th:nth-child(4), td:nth-child(4) {
    width: 30%; /* Ajusta a largura da terceira coluna */
}

tr:hover {
    background: rgb(200, 199, 199);
}

.search {
    background-color: #e6e7e8;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

#newInputSearch {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 30%;
    padding: 10px;
    font-size: 16px;
}

.searchTable,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 14px;
    color: black;
    transition: 0.2s;
    text-align: start;
}

.searchtable {
    background-color: white;
    width: 66%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 47%;
}

th:nth-child(2), td:nth-child(2) {
    width: 30%; /* Ajusta a largura da segunda coluna */
}

th:nth-child(3), td:nth-child(3) {
    width: 30%; /* Ajusta a largura da terceira coluna */
}

th:nth-child(4), td:nth-child(4) {
    width: 30%; /* Ajusta a largura da terceira coluna */
}

tr:hover {
    background: rgb(200, 199, 199);
}
